{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Home</title>
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <script src='{% static "js/all.js"%}'></script>
    <link rel="stylesheet" href='{% static "css/ADMINISTRATIVE_HOMEPAGE.css" %}'>
    <link rel="stylesheet" href='{% static "css/all.min.css" %}'>
</head>
<body>
    <!--Start of Title section-->
    <header>
        <div id='header' class="container-fluid bg-primary">
            <div class="row text-center text-white">
                <div class="col-sm-12 col-md-9 col-xs-9">
                    <h2>Dr B R Ambedkar National Institute of Technology</h2>
                    <h2> Jalandhar</h2>
                </div>
                <div class="col-sm-12 col-md-3 col-xs-3">
                    <img src="{% static 'img/NITJ_Logo.jpg' %}">
                </div>
            </div>
        </div>
    </header><br>
    <!--End of title section-->
    <nav>
        <div class="container-fluid bg-primary">
            <div class="row">
                <div class="col-3 text-center"><a href="" class="text-white">SEND NOTES</a></div>
                <div class="col-3 text-center"><a href="" class="text-white">DEPT. DETAILS</a></div>
                <div class="col-3 text-center"><a href="" class="text-white">GRIEVANCES</a></div>
                <div class="col-3 text-center"><a href="" class="text-white">LOGOUT</a></div>
            </div>
        </div>
    </nav><br><br>
    <section>
        <div class="container border">
            <div class="row">
                <div class="col-9 border-right">
                    <h4>THIS IS ADMINSTRATIVE HOMEPAGE</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, quisquam doloremque ea possimus magni unde sequi omnis rem accusamus 
                    deserunt
                    voluptate id tempora 
                    veritatis ipsum cum delectus! Repellat repellendus nulla aspernatur iure vel officia odit expedita omnis ab magni reprehenderit,
                    beatae ea perferendis illum voluptates voluptatem laboriosam illo recusandae quo blanditiis ullam autem. Blanditiis 
                    eveniet quidem rem non enim praesentium veniam, officiis, recusandae quis nulla cupiditate debitis sint a dignissimos repellat 
                    dolorum tempora et! Blanditiis obcaecati, alias minus vero tempora quae aliquam! Animi illo nisi facere quis ipsa aliquam.
                    Expedita, quisquam voluptate, aut molestiae libero, sed iusto hic facere corrupti maiores assumenda magnam vero?
                    Molestiae mollitia commodi consectetur omnis nesciunt. Laudantium distinctio placeat eligendi neque totam aut repudiandae
                    enim odio earum non doloribus, possimus praesentium, illum animi ipsum. Molestias, excepturi quia. Nam quae nihil laudantium,
                    doloribus aliquam eum eos? Placeat repudiandae, dignissimos quia tempora maxime dicta at veritatis nobis consectetur perspiciatis
                    facere minima culpa pariatur excepturi saepe harum dolores ipsam ab expedita modi nostrum. Totam cum maxime modi quaerat. 
                    Sed ab consequuntur cupiditate animi, autem beatae officia. Tempora, unde molestias perferendis laudantium dolores 
                    recusandae quisquam! Laborum, inventore. Voluptatum, blanditiis aut a fuga error optio, doloremque rerum quaerat nobis asperiores velit.</p>
                </div>
                <div class="col-3 border-left mt-3">
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis odit at error exercitationem! Qui laudantium quidem vitae sapiente 
                    tenetur! 
                    Nulla in officiis repellendus inventore saepe ducimus iusto laboriosam nisi distinctio. Vero velit dolores quisquam.
                    Ullam laboriosam architecto assumenda accusantium exercitationem nam quisquam fugit atque, tenetur amet quas officia illo beatae.</p>
                </div>
            </div>
        </div>
    </section><br>
    <footer>
        <div class="container-fluid bg-primary">
            <div class="row">
                <div class="col-8 text-center text-white">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="col-4">
                        <a href="" class="text-white"><i class="fab fa-facebook-square fa-2x mx-3 my-2" width="10"></i></a>
                        <a href="" class="text-white"><i class="fab fa-twitter-square fa-2x mx-3 my-2"></i></a>
                        <a href="" class="text-white"><i class="fab fa-youtube-square  fa-2x mx-3 my-2"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <script src='{% static "js/jquery-3.3.1.min.js"%}'></script>
    <script src='{% static "js/bootstrap.bundle.min.js"%}'></script>
</body>
</html>